/*   GLOBAL CLASSES   */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #16697a;
    color: #f8f1f1;
}

p {
    padding: 10px;
}

header {
    text-align: center;
}

shadow {
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    transition: box-shadow .3s;
}

h1.snack-name {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #f8f1f1;
}

header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #f8f1f1;
}

h3.new-snack {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #f8f1f1;
}

button {
    width: 60px;
    height: 30px;
}


/* INDIVIDUAL IDS */

#new-snack {
    text-align: center;
    background: #ffa62b;
    width: 800px
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    transition: box-shadow .3s;
    padding: 25px;
    margin: 50px;
    border-radius: 15px;
}

.snack-name {
    text-align: center;

}

#wrapper {
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    transition: box-shadow .3s;
}

#snack-safe {
    float: left;
    background: #ffa62b;
    width: 650px;
    float: right;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    transition: box-shadow .3s;
    padding: 25px;
    margin: 50px;
    border-radius: 15px;
    max-height: 900px;
    overflow: scroll;
    display: space-evenly;
}

#pantry {
    background: #ffa62b;
    width: 550px;
    float: left;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    transition: box-shadow .3s;
    padding: 25px;
    margin: 50px;
    border-radius: 15px;
    max-height: 900px;
    display: block;
    text-align: center;
}

.pantry-image {
    width: 450px;
    margin: 25px, 50px, 205px, 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;

}

.info {
    text-align:left;
}

.like-btn {
    float: right;
    border-radius: 50px ;
  height: 100px ;
  width: 100px ;
  font-size: 5em ;
  color: green;
}

.dislike-btn {
    float: left;
    border-radius: 50px ;
  height: 100px ;
  width: 100px ;
  font-size: 5em ;
  color: red;
}

.snack-safe-card {
    background: #55ff333f;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    width: 200px;
    float: left;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
    transition: box-shadow .3s;
}


.snack-safe-card-image {
    max-width: 200px;
}


/*
Cocktail
#16697a /* teal
#db6400 /* orange
#ffa62b /* honey
#f8f1f1 /* ivory
https://colorhunt.co/palette/219688
*/