body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #333
}

p {
    padding: 10px;
}

header {
    text-align: center;
}

#new-snack {
    
    background:tan;
    width: 800px
}

.snack-name {
    text-align: center;
}

#wrapper {
    margin: 0 auto;
    width: 1200px;
}

#snack-safe {
    float: left;
    background: #FFFFFF;
    width: 650px;
    float: right;
}

#pantry {
    background: #55ff333f;
    width: 550px;
    float: left;
}

#snack-card {
    background: #55ff333f;
    width: 500px;
    float: left;
}